#removendo os executaveis
buffer
leitores
filosofos
dijkstra
atividade2.1/escalonador_fcfs/escalonador_fcfs
atividade2.1/escalonador_sjf/escalonador_sjf
atividade2.1/escalonador_rr/escalonador_rr
atividade2.1/escalonador_prio/escalonador_prio
atividade2.1/escalonador
